<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.264.1.min.js"></script>
    <script th:src="@{app.js}"></script>
</head>
<body>
    <h1>credentials</h1>
    <hr>
    <div>
        <ul th:object="${credentials}">
            <li th:text="*{accessKeyId}"></li>
            <li th:text="*{secretAccessKey}"></li>
            <li th:text="*{sessionToken}"></li>
        </ul>
    </div>
</body>
</html>