<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.275.1.min.js"></script>
</head>
<body>
    <h1>My Photo Albums App</h1>
    <hr>
    <div id="app"></div>
    <input type="hidden" id="accessKeyId" th:value="${credentials.accessKeyId}"/>
    <input type="hidden" id="secretAccessKey" th:value="${credentials.secretAccessKey}"/>
    <input type="hidden" id="sessionToken" th:value="${credentials.sessionToken}"/>
    <script th:src="@{app.js}"></script>
    <script>
       function getHtml(template) {
          return template.join('\n');
       }
       listAlbums();
    </script>
</body>
</html>